body {
    margin-top: 20px;
}

.titre {
    font-family: "Helvetica";
    font-size: 2.5rem;
    font-weight: 700;
}

.courbe {
    margin-top: 80px;
    margin-left: 15px;
}

.tableau {
    margin-top: 50px;
    margin-left: 15px;
}

.line {
    border-bottom: 2px solid black;
    width: auto;
    height: 5px;
    margin-top: 10px;
}
