<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>
    <body>
        <header class="container">
            <div class="row">
                <div class="col">
                    <img src={{ logo }}>
                </div>
                <div class="col">
                    <p class="h1 titre">{{ title }}</p>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="line"></div>
                <div class="row courbe">
                    <p class="h3">Courbe résultat</p>
                </div>
            <div class="row">
                <img src={{ plot }} style="max-width: 60%; height: auto;">
            </div>
        </div>        <div class="container">
            <div class="row tableau">
                <p class="h3">Valeurs relevées</p>
            </div>
            <div class="row">
                <table class="table table-bordered">
                    <tr>
                        <th>#</th>
                        <th>Fréquence (Hz)</th>
                        <th>Niveau (dBµV)</th>
                    </tr>
                    {% for item, value in values.iterrows() %}
                        <tr>
                            <th>{{ loop.index }}</th>
                            <td>{{ value['Frequence'] }}</td>
                            <td>{{ value['Level'] }}</td>           
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </body>
</html>